<%- include('../template/header')-%>
<div class="container p-1">
    <h1 class="mb-4">Create new account</h1>

    <%if (errors) {%>
        <%errors.forEach(function(error){%>
            <div class="">
                <span class="text-danger"><%= error.msg %></span>
            </div>
        <%})%>
    <% } %>

    
    <form method="POST" action="/users/register">
        <div class="form-group">
            <label for="name">Name</label>
            <input  
                type="text" 
                name="name" 
                id="name" 
                value="<%= user.name %>"
                class="form-control">
            <p></p>
                
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input  
                type="text" 
                name="username" 
                id="username" 
                value="<%= user.username %>"
                class="form-control">
            </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input  
                type="email" 
                name="email" 
                id="email" 
                value="<%= user.email %>"
                class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input  type="password" name="password" id="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input  type="password" name="confirm_password" id="confirm_password" class="form-control">
        </div>
        <button type="submit" class="btn btn-info">Register</button>
        <a href="/" type="submit" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<%- include('../template/footer')-%>
